[defaults]
ansible_managed = This file is managed by Ansible, manual edits will be lost
host_key_checking = False
remote_user = ubuntu
retry_files_enabled = False
roles_path = galaxy_roles
hash_behaviour = merge
force_handlers = True

[privilege_escalation]
become = True

[connection]
pipelining = True
